<!--<% <!---->include partials/mainheader.ejs %>
<div class="container">
    <h2>Guest Data Edit Form</h2>
    <form action="/editguest/<%=guest.id %>" method="post">

        <input type="hidden" value="<%=guest.id %>" class="form-control" id="id" name="guest_id">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" value="<%=guest.name %>" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="address" value="<%=guest.address %>" class="form-control" id="address" placeholder="Enter address" name="address">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" value="<%=guest.email %>" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="form-group">
            <label for="tel">Phone Number:</label>
            <input type="tel" value="<%=guest.phone_number %>" class="form-control" id="tel" placeholder="Enter phone number" name="phone_number">
        </div>

        <div class="form-group">
            <label for="tel">NID/Passport Number:</label>
            <input type="tel" value="<%=guest.nid %> " class="form-control" id="tel" placeholder="Enter NID/Passport number" name="nid">
        </div>

        <div class="form-group">
            <label for="tel">Room Number:</label>
            <input type="tel" value="<%=guest.room_num %>" class="form-control" id="tel" placeholder="Enter room number" name="room_num">
        </div>
        <div class="form-group">
            <label for="dob">Check In:</label>
            <input type="date" value="<%=guest.check_in %>" class="form-control" id="dob" placeholder="Check In time" name="check_in">
        </div>

        <div class="form-group">
            <label for="dob">Check out:</label>
            <input type="date" value="<%=guest.check_out %>"  class="form-control" id="dob" placeholder="Check out time" name="check_out">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>
</div>
</body>-->
<% include partials/mainheader.ejs %>
<style>
    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>
</head>
<div>
    <div class="container">

        <h2>Guest Data Edit Form</h2>
        <form action="/editguest/<%=guest.id %>" method="post">

            <input type="hidden" value="<%=guest.id %>" class="form-control" id="id" name="guest_id">

            <div class="row">
                <div class="col-25">
                    <label for="name">Name</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.name %>" id="name" placeholder="Enter name.." name="name">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="address">Address</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.address %>" id="address" placeholder="Enter address.." name="address">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Email</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.email %>" id="email" placeholder="Enter email.." name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="PhoneNumber">Phone Number</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.phone_number %>" id="PhoneNumber" placeholder="Enter Phone number.." name="phone_number">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="nid">NID/Passport Number</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.nid %> " id="nid" placeholder="Enter NID/Passport Number.." name="nid">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="room_num">Room Number</label>
                </div>
                <div class="col-75">
                    <input type="text" value="<%=guest.room_num %> " id="room_num" placeholder="Enter Room Number.." name="room_num">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="check_in">Check In Time</label>
                </div>
                <div class="col-75">
                    <input type="date" value="<%=guest.check_in %>" id="check_in" placeholder="Enter Check In Time.." name="check_in">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="check_out">Check Out Time</label>
                </div>
                <div class="col-75">
                    <input type="date" value="<%=guest.check_out %>" id="check_out" placeholder="Enter Check Out Time.." name="check_out">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

</body>
</html>