<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/css/custom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Guest Data Edit Form</h2>
    <form action="/editguest/<%=guest.id %>" method="post">

        <input type="hidden" value="<%=guest.id %>" class="form-control" id="id" name="guest_id">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" value="<%=guest.name %>" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="address" value="<%=guest.address %>" class="form-control" id="address" placeholder="Enter address" name="address">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" value="<%=guest.email %>" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="form-group">
            <label for="tel">Phone Number:</label>
            <input type="tel" value="<%=guest.phone_number %>" class="form-control" id="tel" placeholder="Enter phone number" name="phone_number">
        </div>

        <div class="form-group">
            <label for="tel">NID/Passport Number:</label>
            <input type="tel" value="<%=guest.nid %> " class="form-control" id="tel" placeholder="Enter NID/Passport number" name="nid">
        </div>

        <div class="form-group">
            <label for="tel">Room Number:</label>
            <input type="tel" value="<%=guest.room_num %>" class="form-control" id="tel" placeholder="Enter room number" name="room_num">
        </div>
        <div class="form-group">
            <label for="dob">Check In:</label>
            <input type="date" value="<%=guest.check_in %>" class="form-control" id="dob" placeholder="Check In time" name="check_in">
        </div>

        <div class="form-group">
            <label for="dob">Check out:</label>
            <input type="date" value="<%=guest.check_out %>"  class="form-control" id="dob" placeholder="Check out time" name="check_out">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>
</body>
</html>