<% include partials/mainheader.ejs %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<div class="w3-light-grey" class="container">
    <h2>Guest List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>NID/Passport</th>
            <th>Room Number</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i=0; i<guestlist.length; i++) {  %>
            <tr>
                <td><%= guestlist[i].id %></td>
                <td><%= guestlist[i].name %></td>
                <td><%= guestlist[i].address %></td>
                <td><%= guestlist[i].email %></td>
                <td><%= guestlist[i].phone_number %></td>
                <td><%= guestlist[i].nid %></td>
                <td><%= guestlist[i].room_num %></td>
                <td><%= guestlist[i].check_in %></td>
                <td><%= guestlist[i].check_out %></td>
                <td>
                    <a href="/editguest/<%= guestlist[i].id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                    <a href="/deleteguest/<%= guestlist[i].id %>"class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
</div>
</body>
</html>