<% include partials/mainheader.ejs %>
    <div class="container">
        <h2>User List</h2>        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Adress</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i=0; i<userlist.length; i++) {  %>
                <tr>
                    <td><%= userlist[i].id %></td>
                    <td><%= userlist[i].name %></td>
                    <td><%= userlist[i].username %></td>
                    <td><%= userlist[i].address %></td>
                    <td><%= userlist[i].phonenumber %></td>
                    <td><%= userlist[i].dob %></td>
                    <td><%= userlist[i].gender %></td>
                    <td><%= userlist[i].email %></td>
                    <td><%= userlist[i].password %></td>
                    <td>
                        <a href="/edituser/<%= userlist[i].id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                        <<a href="/deleteuser/ <%= userlist[i].id %>"class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>