<% include partials/mainheader.ejs %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
    <div class="w3-light-grey" class="container">
        <h2>User List</h2>        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Adress</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i=0; i<userlist.length; i++) {  %>
                <tr>
                    <td><%= userlist[i].id %></td>
                    <td><%= userlist[i].name %></td>
                    <td><%= userlist[i].username %></td>
                    <td><%= userlist[i].address %></td>
                    <td><%= userlist[i].phonenumber %></td>
                    <td><%= userlist[i].dob %></td>
                    <td><%= userlist[i].email %></td>
                    <td><%= userlist[i].password %></td>
                    <td>
                        <a href="/edituser/<%= userlist[i].id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                        <<a href="/deleteuser/ <%= userlist[i].id %>"class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>